@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
  font-family: 'Roboto Slab', serif;
  color: white;
}

body {
  background: url('/img/POE-Siege-of-atlas.png');
  background-attachment: fill;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center center;
}

h1,
h2 {
  text-align: center;
}

#skill-ber {
  height: 84px;
}

.table {
  display: table;
  /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal {
  min-width: 665px;
  list-style: none;
}

ul#horizontal li {
  display: inline;
}

ul {
  height: 75px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

li {
  width: 125px;
  height: 125px;
  display: inline;
  float: left;
}

section img {
  width: 200px;
  height: 200px;
}

section {
  margin-top: 40em;
  width: 100%;
}